/* DEFAULT COLOR */

:root {
  --sticky_bg: rgba(110, 90, 63, 0.74);
  --sticky_font_color: #fff;
  --nav_font_color: rgb(92, 46, 9);
  --hero_font_color_black: #000000;
  --light_gray_bg: rgba(196, 192, 184, 0.267);
  --mid_gray_bg: rgba(255, 255, 255, 0.301);
  --border_brown: rgba(110, 90, 63, 0.74);
  --border_shadow_brown: rgba(132, 139, 120, 0.2);
  --btn_brown: rgba(110, 90, 63, 0.94);
  --input_gray: #ddd;
  --white_bg: #fff;
  --white_title: #fff;
  --black_title: #000000;
  --form_white_bg: #fff;
  --input_white_bg: #ddd;
}

/* DARK MODE */

.darkmode {
  --sticky_bg: rgba(110, 90, 63, 0.74);
  --sticky_font_color: #fff;
  --nav_font_color: rgb(255, 255, 255);
  --hero_font_color_black: #000000;
  --light_gray_bg: #3a3a3a;
  --mid_gray_bg: #222220;
  --border_brown: rgba(202, 202, 202, 0.74);
  --border_shadow_brown: rgb(63, 63, 63);
  --btn_brown: rgba(116, 116, 116, 0.94);
  --input_gray: #ddd;
  --white_bg: #302f2f;
  --white_title: #000000;
  --black_title: #ffffff;
  --form_white_bg: rgba(110, 90, 63, 0.74);
  --input_white_bg: #aca6a1;
}

/* DEFAULT SETTINGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gruppo", sans-serif;
  font-weight: 900;
  font-style: normal;
  transition: background-color 1s;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--white_bg);
}

h1 {
  color: var(--black_titles);
}
h2 {
  text-align: center;
  margin: 50px auto;
  font-size: 2rem;
  color: var(--black_title);
}
h3 {
  font-size: 3rem;
  margin: 20px auto;
  color: var(--black_title);
}
h4 {
  color: var(--black_title);
}
h5 {
  color: var(--white_title);
}

p {
  color: var(--black_title);
}

/* NAV BAR */

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  margin: auto;
  text-align: right;
  transition: none;
}
.nav_item {
  display: flex;
}

.sticky {
  height: 50px;
  background-color: var(--sticky_bg);
  transition: all 1s;
  z-index: 100000;
}
.sticky ul li a {
  color: var(--sticky_font_color);
}
.sticky .logo {
  scale: 0.4;
  transition: all 1s;
}
.nav_content {
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}
nav ul li {
  display: inline-block;
  justify-content: space-around;
  margin-right: 30px;
}
nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 1s ease;
  color: var(--nav_font_color);
  position: relative;
}
nav ul li a:after {
  content: "";
  position: absolute;
  background-color: var(--black_title);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
nav ul li a:hover:after {
  width: 100%;
}
.nav_content i {
  font-size: rem;
  padding: 0 10px;
}

/* ICONS ===> RIGHT SIDE */

.icons {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  cursor: pointer;
}
.menu_icons {
  display: none;
}

/* LOGO  ===> LEFT SIDE*/

.logo {
  padding: 30px 20px;
  transition: all 1s;
}
.logo img {
  height: 100px;
  scale: 1;
  transition: all 1s;
}

/* HEADER ===> HERO SECTION*/

header {
  background-image: url(./images/coffee.png);
  /* background-image: url(images/coffee_dark.png);  ===> DARK MODE */
  background-size: cover;
  background-position: top;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: all 1s;
}
.hero {
  display: flex;
  position: relative;
  color: var(--hero_font_color_black);
}
.header_content {
  padding-top: 300px;
  text-align: center;
}
.header_content h1 {
  padding: 20px;
  font-size: 3rem;
}
.header_content h2 {
  padding: 20px;
  font-size: 2rem;
}

/* FIRST SECTION ===> PRODUKTY*/

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}
.gallery {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img_box {
  height: 60vh;
  width: 20%;
  margin: 10px 20px;
  border-radius: 50px;
  background: url(./images/bag.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: width 0.5s;
}
.img_box:nth-child(2) {
  background: url(./images/product.jpg);
  background-size: cover;
  background-position: center;
}
.img_box:nth-child(3) {
  background: url(./images/book.jpg);
  background-size: cover;
  background-position: center;
}
.img_box:nth-child(4) {
  background: url(./images/merch.jpg);
  background-size: cover;
  background-position: center;
}
.img_box h5 {
  color: #fff;
  position: absolute;
  margin: 0;
  font-size: clamp(20px, 2vw, 28px);
  transform: rotate(-90deg) translateX(-80%);
  white-space: nowrap;
  text-transform: uppercase;
  text-shadow: 5px 5px 10px var(--hero_font_color_black),
    5px 5px 20px var(--hero_font_color_black),
    5px 5px 40px var(--hero_font_color_black),
    5px 5px 50px var(--hero_font_color_black),
    5px 5px 120px var(--hero_font_color_black);
}
.img_box:hover {
  width: 100%;
  cursor: pointer;
}

/* SECOND SECTION ===>MAGAZÍN */

.mag_container {
  background-color: var(--light_gray_bg);
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  margin: auto;
  width: 100%;
  min-height: 100vh;
}
main {
  background-color: var(--white_bg);
}

.range {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 50px auto;
  justify-content: center;
  padding: 50px auto;
}
.mag_item {
  background-color: var(--white_bg);
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 1px 1px 0px 0px solid var(--border_brown);
  border-radius: 50px 50px 0px 0px;
  margin: 10px 20px;
  box-shadow: 0px 2px 4px var(--border_shadow_brown);
  transition: all 1s, box-shadow 0.5s;
}

.mag_item:hover {
  box-shadow: 0px 2px 10px var(--hero_font_color_black);
}
.item_contetnt {
  padding: 16px;
}
.mag_item h4 {
  font-size: 2rem;
  padding: 20px;
}
.mag_item p {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black_title);
  line-height: 1.3;
  text-align: left;
}
.item_photo {
  width: 100%;
  height: 400px;
}
.mag_item img {
  border-radius: 50px 50px 0px 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
}
.item_contetnt .btn {
  display: inline-block;
  padding: 16px;
  background-color: var(--btn_brown);
  text-decoration: none;
  border-radius: 5px;
  margin: 50px auto;
  color: var(--white_title);
  text-transform: uppercase;
  transition: all 1s;
}
.item_contetnt .btn:hover {
  background-color: var(--btn_brown);
  box-shadow: 0px 2px 4px var(--border_shadow_brown);
}

/* FORM */

.form_container {
  position: relative;
  width: 50%;
  background-color: var(--light_gray_bg);
  padding: 25px;
  border-radius: 50px;
  box-shadow: 0px 2px 4px var(--border_shadow_brown);
  margin: 50px auto;
}
.form_title {
  text-align: center;
  color: var(--black_title);
  font-size: 25px;
  padding: 15px;
}
.input_box {
  margin: 15px auto;
  width: 70%;
}

.form_container label {
  text-align: left;
  margin-bottom: 10px;
  color: var(--black_title);
}
.input_box input {
  margin: 10px auto;
  height: 50px;
  outline: none;
  font-size: 1rem;
  border: 0px solid var(--input_gray);
  border-radius: 5px;
  padding: 0 15px;
  width: 100%;
  background-color: var(--input_white_bg);
}
.input_box p {
  text-align: left;
  margin-bottom: 10px;
}
.input_box .submit {
  text-transform: uppercase;
  background-color: var(--btn_brown);
  color: var(--sticky_font_color);
  width: 120px;
  transition: background-color 0.5s;
  border: none;
  cursor: pointer;
}

.input_box .submit:hover {
  background-color: var(--border_brown);
}

/* BACK TO TOP BTN */

.to_top {
  background-color: var(--white_bg);
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: var(--black_title);
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.to_top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

/* FOOTER */

.footer_container {
  background-color: var(--border_brown);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.contacts {
  align-items: left;
  margin: auto;
}

.contacts ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: left;
  padding: 20px;
  margin: auto;
}
.contacts li {
  padding: 5px;
}

.contacts li i {
  padding-right: 10px;
}
.contacts li a {
  text-decoration: none;
  cursor: pointer;
  color: var(--white_title);
  font-size: 1.2rem;
  padding: 10px;
}
.socials {
  align-items: right;
  justify-content: center;
  margin: auto;
}
.socials ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  padding-bottom: 20px;
  margin: auto;
}
.socials ul a i {
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  font-size: 2.2rem;
  color: var(--white_title);
}

.copy {
  background-color: var(--border_brown);
  min-height: 5vh;
  color: var(--white_title);
  text-align: center;
}
